<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Skin" value="dark" />
		<add key="MaximumFileSize" value="307200"/>
		<add key="Language" value="zh-CN" />
		<add key="XshdFilePath" value="F:\VSProj\repos\RYCBEditorX\bin\Debug\net8.0-windows\Highlightings\" />
		<add key="Editor.Theme" value="IDEA" />
		<add key="Editor.ShowLineNum" value="true" />
		<add key="Editor.FontName" value="Jetbrains Mono" />
		<add key="Editor.FontSize" value="12" />
	</appSettings>
</configuration>